body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black;
}

.ban {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* To place the video behind other elements */
}

video {
    position: fixed;
    width: 105%;
    height: 20%;
    right: -20;
    top: 40px;
}

.navbar {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent background for the navbar */
    color: white;
}

.logo {
    max-width: 100px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-right: 20px;
    direction: ltr;
}

.navbar a {
    padding-right: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 50px;
    -webkit-text-stroke: 2px ;
}

.content {
    position: relative;
    z-index: 1; /* To place the content above the video */
    text-align: center;
    color: white;
}

.content h1 {
    position: fixed;
    font-size: 70px;
    font-weight: 800;
    top: 70px;
    right: -0px;
    left:-0;
    align-items: center;
}

button {
    position: fixed;
    top: 600px;
    right: 1;
    left: 1;
    bottom: 1;
    margin-left: -90px;
    align-items: center;
    border-radius: 7px;
    width: 200px;
    height: 50px;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: green;
    color: white;
}

button:hover {
    background-color: rgb(0, 192, 226);
    color: #fff;
    transition: 0.6s;
}
